/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'normalize';
@import 'variables';


$primary: #fffef6;
* {
  box-sizing: border-box;
}

body {
  background-color: $primary;
  background: #fafafa;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: $primary-color;
  color: white;
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  min-height: 20vh;
  padding: 5px;
}

.logo {
  display: inline-block;
  height: 100px;
  padding: 8px;
  width: 100px;
}

h2 {
  margin: 0;
  padding: 8px;
}

h4 {
  padding: 8px;
  width: 10%;
  word-wrap: initial;
}
.tab-labels {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.tabs li {
  background: $primary-color;
  border-radius: 10px 10px 0 0; 
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  list-style-type: none;
  margin: 5px;
  padding: 5px 10px;
    &:hover {
      background-color: $tab-color;
    }
}

.tabs li.active {
  background-color: $tab-color;
}

.search-by-date {
  align-content: center;
  display:flex;
  margin: 20px;
    label {
      font-size: 1.3em;
      margin: 5px;
    }
}

main {
  height: 70vh;
  width: 100vw;
}

#main-default {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#orders-default {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.orders-table {
  border-collapse: collapse;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10%;
  text-align: center;
  width: 80%;
}

td, th {
  border: 1px solid black;
  padding: 10px;
   
}

th {
  font-weight: bold;
  text-transform: uppercase;
  width: 200px;
}

.customer-prompt-title {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;
  text-align: center;
  width: 100%;
    h4 {
      font-size: 1.5em;
      margin: 12%;
      width: 100%;
    }
}

.find-customer {
  display: flex;
  justify-content: space-around;
  padding: 15px;
    p {
      padding: 10px;
    }
}

p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

#customer-select-dropdown {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  height: 50px;
  width: 250px;
}

.find-user {
  margin: 10px;
}

.new-user-intake {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: 10px;
  .new-user-input {
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    margin-bottom: 25px;
    text-align: center;
    width: 250px;
  }
}

.new-user-btn {
  background-color: $tertiary-color;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  margin: 20px;
  opacity: 1;
  width: 225px;
   &:hover {
     transform: scale(1.2);
   }
}

#page-container {
  min-height: 100vh;
  position: relative;
}

#content-wrap {
  padding-bottom: 50px;    
}

.bookings-default-table {
  @extend .orders-table;
}

#rooms-default {
  @extend #main-default;
}

.rooms-available-default-table {
  @extend .orders-table;
  margin: auto;
}

#rooms-customer-selected {
  @extend #main-default;
}

.rooms-available-filter-table {
  @extend .rooms-available-default-table;
}

.current-booking-customer-selected-table {
  @extend .rooms-available-default-table;
}

.past-booking-customer-selected-table {
  @extend .rooms-available-default-table;
}

#orders-customer-selected {
  @extend #main-default;
}

.orders-table-customer-selected {
  @extend .rooms-available-default-table;
}

.available-booking-date-default-btn {
  border-radius: 5px;
  border: 2px solid $secondary-color;
  box-shadow: 0px 2px 2px;
  cursor: pointer;
  font: bold;
  height: 35px;
  margin: 9px;
  padding: 1px 15px;
  &:hover {
    background-color: $secondary-color;
    transform: scale(1.1);
  };
}

.book-room-today-btn {
  border-radius: 5px;
  border: 2px solid $tertiary-color;
  box-shadow: 0px 2px 2px;
  cursor: pointer;
  font: bold;
  height: 35px;
  margin: 9px;
  padding: 1px 15px;
}

.cancel {
  @extend .book-room-today-btn;
  border-radius: 2px;
  border: 1px solid red;
}

.book {
  @extend .book-room-today-btn;
  border-radius: 2px;
  border: 1px solid $secondary-color;
}

.order-date-default-btn {
  @extend .available-booking-date-default-btn;
}

input {
  border-radius: 2px;
  border: 2px solid $tertiary-color;
}

footer {
  background: #4FC16E;
  color: black;
  height: 50px;
  margin-top: 500vh;
  position: absolute;
  text-align: center;
  width: 100%;
   p {
     font-size: 1em;
   }
}

